@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis:600');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header h1{
    margin-left: 5%;
    font-family: 'Dosis', sans-serif;
    font-size: 4em;
    padding:0;
}

a {
    text-decoration: none;
    color: #468189;
}

header {
    padding: 0.5em;
}

header>img, header>h1{
    display: inline-block;
}

.logout {
    margin-top: 65px;
    float: right;
    margin-right: 80px;
    color: rgb(182, 210, 255);
}

.logout:hover{
    color: white;
}

nav{
    width: 20%;
    float: left;
    padding:0 5%;
    margin-top: 40px;
}

input[type=search] {
    width:100%;
    margin: 0 0 10px 0;
    padding: 1em;
    font-size: 1em;
    border-style: inset;
}

input[type=reset]{
    float:right;
}

table {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 4em;
    margin-left: 25%;
    border: thin;
}

footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

header, footer{
    background: #031926;
    color: aliceblue;
}

.hidden{
    display:none;
}