{% extends "layout.html" %}
<!>
{% block content %}

<header>
    <a href='/library'>Return to Library</a>
</header>

<h1 class="banner">{{doc['title']}}</h1>

<section class="content">

    <h2>Authors</h2>
    <ul>
        {% for author in doc['authors'] %}
        <li><a href="{{ 'https://www.mendeley.com/research-papers/?query=' +author['first_name'] + ' ' + author['last_name']}}">{{author['first_name']}} {{author['last_name']}}</a></li>
        {% endfor %}
    </ul>

    <h2>Source</h2>
    {{doc['source']}}

    <h2>Year</h2>
    {{doc['year']}}

    <h2>Abstract</h2>
    <p>{{doc['abstract']}}</p>
</section>

<footer>
    <a href='/library'>Return to Library</a>
</footer>
<!>
{% endblock %}