{% extends "layout.html" %}
<!>
{% block head %} {{ super() }}
<script src="{{ url_for('static', filename='sorttable.js') }}"></script>
<script src="{{ url_for('static', filename='library.js') }}"></script>
<!>
{% endblock %}
<!>
{% block content %}

<header>
    <a href="/logout" class="logout">Logout</a>
    <h1>Search Mendeley</h1>
    <img src="{{ url_for('static', filename='SearchMendeley-white.png') }}">
</header>

<nav>
    <form action="/library" method="GET">
        <input id='simSearch' type="search" name="query" placeholder="Search..." value="{{query}}" {% if advancedSearch %} hidden {% endif %}>
        <div id='advSearch' {% if not advancedSearch %} class='hidden' {% endif %}>
            <input type="search" name="titleQuery" placeholder="Search By Title..." value="{{titleQuery}}">
            <input type="search" name="authorQuery" placeholder="Search By Author..." value="{{authorQuery}}">
            <input type="search" name="sourceQuery" placeholder="Search By Source..." value="{{sourceQuery}}">
            <input type="search" name="abstractQuery" placeholder="Search Abstracts..." value="{{abstractQuery}}">
        </div>
        <input type="search" name="noteQuery" placeholder="Search Annotations..." value="{{noteQuery}}">
        <label for="advancedSearchToggle">
            <input id="advancedSearchToggle" type="checkbox" name="advancedSearch" {% if advancedSearch %} checked {% endif %} onclick="toggleAdvSearch();">Advanced Search</input>
        </label>
        <input type="submit" class="hidden">
        <input type="reset" onclick="form.reset(); toggleAdvSearch();">
    </form>
</nav>

<table class="sortable">
    <thead>
        <th>Title</th>
        <th>Year</th>
        <th>Added</th>
        <th class="sorttable_nosort">File</th>
    </thead>
    <tbody>
        {% for doc in docs %}
        <tr>
            <td>
                <a href="/document?document_id={{doc['id']}}">{{doc.title}}</a>
            </td>

            <td>
                {% if doc.year %} {{doc.year}} {% endif %}
            </td>

            <td>
                {% if doc.created %} {{doc.created.strftime('%d/%m/%Y')}} {% endif %}
            </td>

            <td>
                {% if doc.file_attached %}
                <a href="/download?document_id={{doc['id']}}">Download</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<footer>
    <form action="/detailsLookup" method="GET">
        DOI lookup:
        <input type="text" name="doi">
        <input type="submit" class="hidden">
    </form>
</footer>
<!>
{% endblock %}